{% extends "base.html.twig" %}

{% block title %}
	{{'Cart'|trans}}
{% endblock %}

{% block body %}
	<h1>{{'Cart'|trans}}</h1>

	{% include "cart/_form.html.twig" with {'carts': cart} %}

	<a href="#" rel="noopener noreferrer" class="btn btn-primary">{{'cart.buy'|trans }}</a>
{% endblock %}

