{% extends "base.html.twig" %}

{% block title %}
	{{'Panier'|trans}}
{% endblock %}

{% block body %}
	<h1>{{'Panier'|trans}}</h1>

	{% include "cart/_form.html.twig" with {'carts': cart} %}

{% endblock %}

