{% extends 'base.html.twig' %}

{% block title %}{{ 'user.title' | trans}}{% endblock %}

{% block body %}
    <h1>{{ 'Error' | trans}} 404</h1>
    <p>{{ 'error.notFound' | trans}}</p>
{% endblock %}