{% extends 'base.html.twig' %}

{% block title %}{{'user.editUser'|trans}}{% endblock %}

{% block body %}
    <h1>{{'user.editUser'|trans}}</h1>

    {{ include('user/_edit_form.html.twig', {'button_label': 'Update'}) }}


{% endblock %}
